.receipt-container {
  color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 45px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: #fff;
}

/* end paper size */

@media print {
  .receipt-container {
    margin: 0;
    padding: 35px;
    box-shadow: none;
    page-break-after: always;
  }

  /* paper size */
  .receipt-container.a4 {
    width: 210mm !important;
    max-height: 297mm;
  }

  .receipt-container.a5 {
    width: 148mm;
    max-height: 210mm;
  }

  .receipt-container.58mm {
    width: 58mm;
    max-height: none;
  }

  .receipt-container.80mm {
    width: 80mm;
    max-height: none;
  }

  .receipt-container.88mm {
    width: 88mm;
    max-height: none;
  }

  .receipt-container.100mm {
    width: 100mm;
    max-height: none;
  }
}
